.subsystem-list > li.folder:not(.collapsed) > .folder-header {
    background: rgb(74 119 68 / 74%);
}
.subsystem-list > li.folder.collapsed > .folder-header {
    background: rgb(20 68 14);
}

.directory.subsystem-section .directory-item {
    line-height: 30px;
}

.create-subsystem-row {
    padding-left: 10px;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .saving-throws {
    flex: 0 0 7rem;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .senses-new {
    align-items: center;
    flex: 0.2;
    overflow: hidden;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .score.senses-new label {
    font-size: var(--font-size-12);
}

.senses-text {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .effects {
    align-items: center;
    overflow: hidden;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .effects .item-image {
    margin: 1px;
    background-size: cover;
    height: 25px;
}

.sheet.party [data-tab=overview] .member > .data .main-stats .effects .item-image .value-wrapper {
    position: absolute;
    bottom: 0px;
    max-width: calc(100% + 2px);
    padding: 0px 2px;
    color: #f5efe0;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 0.5rem;
    letter-spacing: -0.05em;
    white-space: nowrap;
    overflow: hidden;
}

.show-party-members {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.1s ease-out;
    color: #e9d7a1;
    fill: #e9d7a1;
    background-image: url("nav-item-inactive.webp");
    background-size: contain;
    box-shadow: 0 0 0 1px #e9d7a1, 0 0 0 2px #9f725b, inset 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    font-size: 0.75rem;
}

.sidebar-party-members {
    overflow: hidden scroll;
    border-right: 1px solid #888;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    gap: 8px;
    height: 6.5rem;
    padding: 0.5rem;
    width: 100%;
}

.sidebar-party-members .inventory-members {
    display: flex;
}

.sidebar-party-members .box {
    width: 5.7rem;
    border: 1px solid #000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    font-size: 0.75rem;
    margin: 0 3px 5px 0;
}

.sidebar-party-members .box .content {
    align-items: center;
    display: flex;
    padding: 0.5rem;
    overflow: hidden;
}

.sidebar-party-members .box .footer .fa-weight-hanging{
    padding-left: 0.3rem;
}

.sidebar-party-members .box .footer {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    background-color: #e7d9cf;
    border-radius: 0 0 3px 3px;
    border-top: none;
    color: #605856;
    font-weight: 500;
    height: 1rem;
    line-height: 1rem;
    margin: 0px;
}

.sidebar-party-members .box .content img {
    grid-area: image;
    margin-right: 0.4rem;
}

.sidebar-party-members .box .actor-link img {
    border: none;
    width: 100%;
    height: 3rem;
    object-fit: contain;
}

.sidebar-party-members .box .content .sub-data {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.sidebar-party-members .box .name {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dark-party-theme.sheet.party .subdirectory {
    color: var(--pfui-main-color);
}

.sheet.party [data-tab=overview] .member > .data .main-stats > section.focus {
    text-align: center;
    flex: 0.2;
    font-size: var(--font-size-12);
}

.sheet.party [data-tab=overview] .member > .data .main-stats > section.spells-data {
    text-align: center;
    flex: 0.15;
    font-size: var(--font-size-12);
}

.sheet.party [data-tab=overview] .member > .data .main-stats > section.focus {
    display: flow;
}

.party .container .achievements.content {

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    .portrait {
        height: 125px;
        width: 100px;
        margin: 25px;
        position: relative;

        img {
            width: 100px;
            height: 100px;
        }

        label {
            display: block;
            overflow: hidden;
        }
    }

    i.close {
        color: red;
        position: absolute;
        right: 0px;
    }
}

.travel-duration .journey-calc {
    display: grid;
    column-gap: 5px;
    grid: "size type"/100px 1fr 1fr;
}

.directory-list.skills li {
    display: flex;
    font-size: large;
}

.directory-list.skills div {
    margin-top: 10px;
    margin-left: 10px;
}

.sheet.party [data-tab=overview] .party-hero-points > * {
    width: 1.5rem;
    height: 1.5rem;
}

.sheet.party [data-tab=overview] .section-party-hero-points {
    display: flex;
    gap: 3px;
}

.sheet.party [data-tab=overview] .section-party-hero-points img {
    border: none;
}

.sheet.party [data-tab=overview] .section-party-hero-points .data {
    width: 100%;
}

.section-party-hero-points .data {
    border-left: 1px solid #c9bfa9;
    display: grid;
    grid:
        "sync-hero-points party-hero-points" / auto max-content;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
}

.sheet.party [data-tab=overview] .party-hero-points > .empty {
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.party-hero-points[data-action="adjust-hero-points"] {
    display: flex;
}

.sheet.party [data-tab=afflictions] .member > .portrait img {
    border: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sheet.party [data-tab=afflictions] .member > .portrait {
    margin-right: 8px;
    min-width: 5.5rem;
    flex: 1;
}
.sheet.party [data-tab=afflictions] .member > .data {
    flex: 4;
}

.sheet.party [data-tab=afflictions] .member {
    display: flex;
    flex-direction: row;
    font-family: var(--sans-serif);
    padding: 0.5rem 1rem;
    height: 7.375rem;
}

.affliction-row {
    flex-direction: row;
    display: flex;
}

.sheet.party [data-tab=afflictions] .member .affliction-row .item-image {
    height: 64px;
    width: 64px;
}

.sheet.party [data-tab=afflictions] .member .effects {
  flex-wrap: wrap;
}

.sheet.party [data-tab=afflictions] .member .effects .col {
  flex: 1;
}